:root {
  --header-height: 60px;
  --dark-blue-height: 50px;
  --light-blue-height: 10px;
  --side-bar-width: 20vw;
  --side-bar-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
}

header {
  position: fixed;
  top: 0px;
  z-index: 1;
}

.company-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dark-blue {
  background-color: #213555;
  height: var(--dark-blue-height);
  width: 100vw;
}

.light-blue {
  background-color: #4F709C;
  height: var(--light-blue-height);
}

.company-icon {
  border-radius: 5%;
  width: 40px;
} 

.company-name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Times, serif;
  font-size: 1.5rem;
  color: white
}

main-content {
  position: relative;
  top: var(--header-height);
  min-height: calc(100vh - 2 * var(--header-height));
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  position: relative;
  top: var(--header-height);
  height: 60px;
  width: 100%;
}
