:root {
  --side-bar-width: 25vw;
  --side-bar-height: 100%;
  --patient-detail-box-height: 50px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.company-icon {
  margin-right: 0px;
  margin-left: 5px;
}

#baum {
  font-style: sans-serif;
  font-size: 0.95rem;
  color: white;
  margin: 0px;
}

#ehr {
  font-style: sans-serif;
  font-size: 1.1rem;
  color: white;
  margin: 0px;
}

button {
  background-color: #4F709C;
  width: 80px;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#go-search-page {
  height: 30px;
  margin-left: 5px;
  align-self: flex-end;
}

.account-container {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  min-width: 50px;
}

.account-container > img {
  height: 2rem;
  margin: 10px;
}

.flex-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
}

sidebar {
  min-width: 200px;
  width: var(--side-bar-width);
}

.vertical-line {
  width: 2px;
  background-color: var(--content-color-2);
}

content {
  height: 100%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.patient-details {
  position: sticky;
  top: var(--header-height);
  height: 50px;
  width: 100%;
  background-color: var(--content-color-1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.medical-summary {
  flex-grow: 1;
}

.medical-summary {
  padding-left: 10px;
  padding-right: 10px;
}